body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background: #1DB954;
    text-align: center;
}

h1 {
    margin-bottom: 5px;
}

h2 {
    margin-top: 0;
    color: #000000;
}

.image-gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}

.imagem-item {
    background: #fff;
    border-radius: 15px;
    padding: 15px;
    width: 240px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.15);
    transition: transform 0.2s;
}

.imagem-item:hover {
    transform: scale(1.05);
}

.imagem-item img {
    width: 100%;
    border-radius: 12px;
}

.image-name {
    margin: 10px 0 10px;
    font-weight: bold;
    color: #333;
    font-size: 16px;
}
.logo {
  mix-blend-mode: multiply;
  position: absolute; 
  left: 680px; 
  top: 650px; 
  width: 150px;
  height: auto;
}

audio {
    width: 90%;
    border: 1px solid #ccc;
    border-radius: 90px;
    padding: 1px;
    background: #f9f9f9;
}

audio:hover {
    border-color: #666;
    background: #eee;
}
.logo{
    background-color: #333;
    border-radius: 9000px;
}